<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="base_footprint"/>

  <joint
    name="base_joint"
    type="fixed">
    <origin
      xyz="0 0 0.0626"
      rpy="0 0 0" /> 
    <parent
      link="base_footprint" />
    <child
      link="base_link" />
  </joint>
  
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0201310485852864 0.000520829416461865 0.865026738420884"
        rpy="0 0 0" />
      <mass
        value="8.2797481488828" /> <!-- 28.2797481488828 -->
      <!-- <mass
        value="48.2797481488828" /> -->
      <inertia
        ixx="1.40869842198577"
        ixy="0.00172519109922957"
        ixz="0.0295451682055194"
        iyy="1.38963154057563"
        iyz="-0.00609490500279897"
        izz="0.244482664433787" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smrr_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.643137254901961 0.615686274509804 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smrr_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <link
    name="right_wheel">
    <inertial>
      <origin
        xyz="3.04623488683875E-06 6.72391256367755E-06 -0.0311105168378413"
        rpy="0 0 0" />
      <mass
        value="0.989823090734283" />
      <inertia
        ixx="0.00167921032012111"
        ixy="6.53172867821882E-09"
        ixz="-1.64665780609969E-07"
        iyy="0.0016792904624912"
        iyz="-3.63464523309006E-07"
        izz="0.00288690083815089" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 -0.025"
        rpy="0 0 0" />
      <!-- <geometry>
        <mesh
          filename="package://smrr_description/meshes/right_wheel.STL" />
      </geometry> -->
       <geometry>
        <cylinder radius="0.081" length="0.05"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 -0.025"
        rpy="0 0 0" />
      <!-- <geometry>
        <mesh
          filename="package://smrr_description/meshes/right_wheel.STL" />
      </geometry> -->
       <geometry>
        <cylinder radius="0.081" length="0.05"/>
      </geometry>
    </collision>
  </link>

  <!-- <joint
    name="right_wheel_joint"
    type="continuous">
    <origin
      xyz="0 -0.201 0.0184000000000001"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_wheel" />
    <axis
      xyz="0 0 1" />
  </joint> -->

  <joint
    name="right_wheel_joint"
    type="continuous">
    <origin
      xyz="0 -0.201 0.0184000000000001"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_wheel" />
    <axis
      xyz="0 0 1" />
    <dynamics damping="0.3" friction="0.5"/>
  </joint>

  <link
    name="left_wheel">
    <inertial>
      <origin
        xyz="-8.38679888204297E-07 7.3339732202804E-06 0.0311105168378413"
        rpy="0 0 0" />
      <mass
        value="0.989823090734282" />
      <inertia
        ixx="0.00167926061595776"
        ixy="-1.12032618333546E-08"
        ixz="-4.53352691396202E-08"
        iyy="0.00167924016665455"
        iyz="3.96441663275016E-07"
        izz="0.0028869008381509" />
    </inertial>
    <visual>
      <!-- <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smrr_description/meshes/left_wheel.STL" />
      </geometry> -->
      <origin
        xyz="0 0 0.025"
        rpy="0 0 0" />
       <geometry>
        <cylinder radius="0.081" length="0.05"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.025"
        rpy="0 0 0" />
       <geometry>
        <cylinder radius="0.081" length="0.05"/>
      </geometry>
      <!-- <geometry>
        <cylinder radius="0.05" length="0.03"/>
      </geometry> -->
    </collision>
  </link>

  <!-- <joint
    name="left_wheel_joint"
    type="continuous">
    <origin
      xyz="0 0.201 0.0183999999999997"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_wheel" />
    <axis
      xyz="0 0 1" />
  </joint> -->

      <joint
      name="left_wheel_joint"
      type="continuous">
      <origin
        xyz="0 0.201 0.0183999999999997"
        rpy="-1.5707963267949 0 0" />
      <parent
        link="base_link" />
      <child
        link="left_wheel" />
      <axis
        xyz="0 0 1" />
      <dynamics damping="0.3" friction="0.5"/>
  </joint>

  <link
    name="front_caster">
    <inertial>
      <origin
        xyz="0 0 -0.0025"
        rpy="0 0 0" />
      <mass
        value="0.0335103216382911" />
      <inertia
        ixx="5.36165146212658E-06"
        ixy="0"
        ixz="-9.4039548065783E-38"
        iyy="5.36165146212658E-06"
        iyz="0"
        izz="5.36165146212658E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.03"
        rpy="0 0 0" />
      <!-- <geometry>
        <mesh
          filename="package://smrr_description/meshes/front_caster.STL" />
      </geometry> -->
      <geometry>
          <sphere radius="0.05"/>
        </geometry>
      <material
        name="">
        <color
          rgba="0.537254901960784 0.349019607843137 0.337254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.03"
        rpy="0 0 0" />
      <!-- <geometry>
        <mesh
          filename="package://smrr_description/meshes/front_caster.STL" />
      </geometry> -->
      <geometry>
          <sphere radius="0.05"/>
        </geometry>
    </collision>
  </link>

  <!-- <joint
    name="front_caster_joint"
    type="continuous">
    <origin
      xyz="0.245 0 -0.04"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_caster" />
    <axis
      xyz="1 0 0" />
  </joint> -->

  <joint
    name="front_caster_joint"
    type="fixed">
    <origin
      xyz="0.245 0 -0.04"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_caster" />
    <axis
      xyz="1 0 0" />
  </joint>

  <link
    name="back_caster">
    <inertial>
      <origin
        xyz="0 0 -0.0025"
        rpy="0 0 0" />
      <mass
        value="0.0335103216382911" />
      <inertia
        ixx="5.36165146212658E-06"
        ixy="0"
        ixz="-9.4039548065783E-38"
        iyy="5.36165146212658E-06"
        iyz="0"
        izz="5.36165146212658E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.03"     
        rpy="0 0 0" /> <!-- -0.0025 -->
      <!-- <geometry>
        <mesh
          filename="package://smrr_description/meshes/back_caster.STL" />
      </geometry> -->
       <geometry>
          <sphere radius="0.05"/>
        </geometry>
      <material
        name="">
        <color
          rgba="0.537254901960784 0.349019607843137 0.337254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.03"
        rpy="0 0 0" />
        <geometry>
          <sphere radius="0.05"/>
        </geometry>
      <!-- <geometry>
        <mesh
          filename="package://smrr_description/meshes/back_caster.STL" />
      </geometry> -->
    </collision>
  </link>

  <!-- <joint
    name="back_caster_joint"
    type="continuous">
    <origin
      xyz="-0.245 0 -0.04"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="back_caster" />
    <axis
      xyz="1 0 0" />
  </joint> -->

  <joint
    name="back_caster_joint"
    type="fixed">
    <origin
      xyz="-0.245 0 -0.04"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="back_caster" />
    <axis
      xyz="1 0 0" />
  </joint>

</robot>